<% provide(:title, "Log in") %>
<div class = "center">
<h1>Log in</h1>
<br><br><br>
Email <br><input></input><br><br>
Password<br><input type = "password"></input><br><br>
<%= link_to "Login", '#', class: "btn btn-lg btn-primary" %> or <%= link_to "Sign up", root_path %>
</div>